<html>

<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Chetpayark Karoonporn</title>
    <link rel="stylesheet" href="style.css">
</head>
 <body>
    <div>
        <h4>시온이가 누나에게 만든 웹사이트</h4>
        <h1>누나 최고 사랑해🐧🐧</h1>
        <h3>ㅋㅋㅋㅋ</h3>
        <img src="./img/S__20242447.jpg" width="200" height="280">
        <img src="./img/S__20480079.jpg" width="200" height="280">
        <p>New Glasses Brothers</p>

        
   
   <section id="app">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="comment">
        <p v-for="items in item" v-text="items"></p>
          </div><!--End Comment-->
          </div><!--End col -->
          </div><!-- End row -->
      <div class="row">
        <div class="col-6">
      <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
          <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
        </div><!-- End col -->
      </div><!--End Row -->
    </div><!--End Container -->
  </section><!-- end App -->



    </div>    
</body>
</html>
